{{#each chores as |chore|}}
<div class="chore-container">
  <div class="row row-centered">
    <div class="col-xs-4 col-centered box">
      <div class="content chore-name">Name: {{chore.name}} </div>
    </div>
    <div class="col-xs-4 col-centered box">
      <div class="content chore-due">Due Date: {{chore.due_date}}</div>
    </div>
    <div class="col-xs-4 col-centered box">
      <div class="content chore-difficulty">Difficulty: {{chore.difficulty}}</div>
    </div>
    <div class="col-xs-4 col-centered box">
      <div class="content chore-difficulty">ID: {{chore.id}}</div>
    </div>
  </div>
  <button type="button" class="update-button">Update</button> <button type="button" class="delete-button">Delete</button>
</div>

{{/each}}
