$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  display: inline;
}



form {
  margin: 0 auto;
  }

input {
  border-radius: 5px;
  height: 35px;
}

.input-wrapper {
  float: left;
  margin-right: 12%;
}

label {
  display: inline-block;
  position: relative;
}

.difficulty {
  width: 40px;
};

.welcome {
  float: left;
  display: inline;
}

.log-in {
  float: right;
};
