$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

h1 {
  display: inline;
}

p {
  display: inline;
}

form {
  margin: 0 auto;
  }

input {
  border-radius: 5px;
  height: 35px;
}

.input-wrapper {
  float: left;
  margin-right: 12%;
}

label {
  display: inline-block;
  position: relative;
}


.log-in {
  float: right;
};
.difficulty-box {
  width: 8%;
}
.difficulty {
  width: 40px
}

.show-chores-button:hover {
  opacity: .5
}

.center-button {
  margin: 0 auto;
}
